<div>
  Listado de preguntas:
<% if (quizes.length > 0) { %>
	<table id='lista_preguntas'>
		<% var i; for (i=0; i< quizes.length; i++) { %>
			<tr>
				<td>
					<a href="quizes/<%= quizes[i].id %>">
						[<%= quizes[i].tema %>] Pregunta: <%= quizes[i].pregunta %>
					</a>
				</td>
				<% if (session.user) { %>
				<td>
					<a href="quizes/<%= quizes[i].id %>/edit">
						<button>editar</button>
					</a>
				</td>
				<td>
					<form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
						<button type="submit" onclick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
							borrar
						</button>
					</form>
				</td>
				<% } %>
			</tr>
		<%	} %>
	</table>
<% } else {%>
	<p> Búsqueda sin resultados </p>
<% } %>
</div>
<% if (session.user) { %>
<div>
	<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
</div>
<%	} %>

